.jobs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.jobs__container>div {
    background: var(--color-bg-variant);
    padding: 2.4rem 3rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
}

.jobs__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.jobs__container>div h5 {
    text-align: center;
}

.jobs__container>div h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 0.4rem;
}

.jobs__container>div h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.jobs__container>div p {
    text-align: center;
    font-size: 0.9rem;
}

/* Media queries (medium devices) */

@media screen and (max-width: 1024px) {
    .jobs__container {
        grid-template-columns: 1fr;
    }

    .jobs__container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

/* Media queries (small devices) */

@media screen and (max-width: 600px) {
    .jobs__container {
        gap: 1rem;
    }

    .jobs__container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
}