.contact__container {
    width: 100%; /* A teljes szélességet használja */
    display: flex; /* Flexbox használata */
    justify-content: center; /* Középre igazítás */
    gap: 2rem; /* Távolság a dobozok között */
    flex-wrap: wrap; /* Több sorba törés kisebb képernyőn */
    padding-bottom: 8rem;
}

.contact__option {
    background: var(--color-bg-variant);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2rem;
    transition: var(--transition);
    flex: 1 1 calc(30% - 2rem); /* Szélesség 30%-ra állítva, de rugalmas */
    max-width: 300px; /* Maximális szélesség korlátozása */
    min-width: 200px; /* Minimum szélesség */
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: pointer; /* Kattinthatóság jelzése */
}
